@import "variables";

.tabs {
  display: inline-flex;
  gap: 0rem;
  background: #fff;
  border-radius: $radius-md;
  padding: $space-1;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
}

.tab,
.active {
  border: 0;
  background: transparent;
  border-radius: $radius-sm;
  padding: 1.6rem 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: $color-text;

  display: inline-flex;
  align-items: center;
  flex-direction: row;
  gap: 0.6rem;

  @media (max-width: 60rem) {
    font-size: 1.2rem;
    border-radius: 0.78rem;
    padding: 1rem 0.8rem;
  }
}

.active {
  background: $color-accent;
  color: #fff;
}


.newBadge {
  display: flex;
  padding: 0.3rem 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #fff;
  color: $color-accent;

  @media (max-width: 60rem) {
    font-size: 0.48rem;
    padding: 0.2rem 0.2rem;
  }
}