@import "variables";


.main {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.hero {
  text-align: center;
  padding-top: 10rem;
  height: 60rem;

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  flex-direction: column;

  @media (max-width: 768px) {
    height: 60rem;
  }

  @media (max-width: 558px) {
    height: 56rem;
  }

  @media (max-width: 458px) {
    height: 46rem;
  }

  @media (max-width: 400px) {
    height: 40rem;
  }

  @media (max-width: 360px) {
    height: 38rem;
  }

  .heromedia {
    width: 100%;
    display: flex;
    flex-direction: column;

    // aspect-ratio: 3/4;
  }

  .herobanner {
    position: absolute;
    bottom: 0;

    object-fit: contain;
    object-position: bottom;
    overflow: visible;
    height: 90%;
    width: 100%;

    z-index: 0;

    @media (max-width: 60rem) {
      width: 100%;

    }
  }

  h1 {
    font-size: $fs-display;
    line-height: 100%;
    // letter-spacing: -0.02rem;
    font-weight: 400;
    margin: 0;
    z-index: 0;

    // @media (max-width: 768px) {
    //   display: none;
    // }
  }

  p {
    z-index: 2;
    color: $color-text-muted;
    font-size: $fs-sm;
    font-family: $font-body;

    display: none;
  }
}

.tabsWrap {
  display: flex;
  justify-content: center;
  margin-top: $space-5;
  z-index: 2;

  position: absolute;
  bottom: 4rem;
}

.content {
  z-index: 0;
  @include container;
  display: flex;
  flex-direction: column;
  gap: $space-6;
  font-family: $font-body;
  padding-block: 0rem $space-10;
  // margin-top: -3rem;
  z-index: 9999;

}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-4;

  @media (min-width: $bp-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.none {
  color: $color-text-muted;
  grid-column: 1 / -1;
}